In [3]:
#One-dimensional array-like object containing a sequence of values

In [16]:
import pandas as pd
import numpy as np

In [5]:
series1 = pd.Series([-10, 0, 10,20,30,40,50])

In [7]:
series1

0   -10
1     0
2    10
3    20
4    30
5    40
6    50
dtype: int64

In [8]:
series1.values

array([-10,   0,  10,  20,  30,  40,  50], dtype=int64)

In [9]:
series2 = pd.Series([5,6,7,8], index=["a", "b", "c", "d"])

In [10]:
series2

a    5
b    6
c    7
d    8
dtype: int64

In [11]:
series2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [12]:
series2["b"]

6

In [14]:
series2[series2>6]

c    7
d    8
dtype: int64

In [15]:
series2 *3

a    15
b    18
c    21
d    24
dtype: int64

In [17]:
np.exp(series2)

a     148.413159
b     403.428793
c    1096.633158
d    2980.957987
dtype: float64

In [18]:
"b" in series2

True

In [19]:
#create Series from python dictionary

In [21]:
states = {"Ohio": 35000, "Texas":71000, "Oregon":16000, "Utah":5000}

In [22]:
states

{'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}

In [27]:
series3 = pd.Series(states)

In [26]:
series3

Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64

In [28]:
states2 = ["California", "Ohio", "Oregon", "Texas"]

In [29]:
series4 = pd.Series(states, index=states2)

In [30]:
series4

California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64

In [31]:
#check whether there are null values

In [32]:
pd.isnull(series4)

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [33]:
pd.notnull(series4)

California    False
Ohio           True
Oregon         True
Texas          True
dtype: bool

In [34]:
series4.isnull()

California     True
Ohio          False
Oregon        False
Texas         False
dtype: bool

In [35]:
series3+series4

California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64

In [36]:
series4.name= "Population" #give series4 a name

In [37]:
series4.index.name = "State" #give index a name

In [40]:
series1.index = [ "neg_Ten", "Zero", "Ten", "Twenty", "Thirty", "Forty", "Fifty"]

In [41]:
series1

neg_Ten   -10
Zero        0
Ten        10
Twenty     20
Thirty     30
Forty      40
Fifty      50
dtype: int64